section.home-banner
    .swiper-container
        .swiper-wrapper
            .swiper-slide.banner1
                figure
                    .img
                        img(src="./img/home/banner/banner1.png", alt="")
                    figcaption
                        .title
                            h2 vinatoy
                        .content
                            p Mang niềm vui mỗi ngày</br> cho tuổi thơ thật ý nghĩa
                        .button
                            a(href="#") Về chúng tôi
            .swiper-slide.banner2
                figure
                    .img
                        img(src="./img/home/banner/banner2.png", alt="")
            .swiper-slide.banner3
                figure
                    .img
                        img(src="./img/home/banner/banner3.png", alt="")
            .swiper-slide.banner4
                figure
                    .img
                        img(src="./img/home/banner/banner4.png", alt="")
                    figcaption
                        .title
                            h2 khuyến mãi 1/6
                        .content
                            p Vui chơi đón hè - Bé đón</br> quà mới
                        .button
                            a(href="#") Xem sản phẩm
        .swiper-pagination
    .banner-img
        img(src="./img/home/banner/before.png", alt="")