header.header-wrapper
    .header-top
        .container
            .main-wrapper
                .logo
                    a(href="#")
                        .img
                            img(src="./img/logo.png", alt="")
                .nav
                    ul
                        li
                            a(href="#")
                                img(src="./img/home/header-icon/icon-gif.png", alt="")
                                p Khuyến mãi
                        li
                            a(href="#")
                                img(src="./img/home/header-icon/icon-media.png", alt="")
                                p Truyền thông
                        li
                            a(href="#")
                                img(src="./img/home/header-icon/icon-chat.png", alt="")
                                p Hỗ trợ khách hàng
                        li
                            a(href="#")
                                img(src="./img/home/header-icon/icon-call.png", alt="")
                                p Liên hệ
                .language
                    a(href="#")
                        img(src="./img/home/header-icon/language-vn.png", alt="")

                    a(href="#")
                        img(src="./img/home/header-icon/language-uk.png", alt="")
                .user
                    .login
                        a(href="#")
                            em.material-icons account_circle
                            p Đăng nhập
                    .cart
                        a(href="#")
                            em.material-icons shopping_cart
                            p Giỏ hàng(2)
                .button-toggle
                    .button
    .header-bottom
        .container
            .main-wrapper
                .nav-bottom
                    ul
                        li
                            a(href="#")
                                p Giới thiệu
                        li
                            a(href="#")
                                p Sản phẩm
                        li
                            a(href="#")
                                p Shop online
                        li
                            a(href="#")
                                p Điểm bán
                        li
                            a(href="#")
                                p Làm cha mẹ
                .searchbox
                    input(type="text" placeholder="Tìm kiếm...") 
                    button
                        em.material-icons search
    .nav-mobile(setBackground="./img/header/background.png")
    .back-drop