footer.footer-wrapper
    .footer-top(setBackground="./img/footer/background.png")
        .container
            .content
                .title
                    p Đăng ký địa chỉ email để nhận ngay</br> thông tin ưu đãi mới nhất từ VINATOY
                .subscribe
                    .subscribefrm
                        input(type="text" placeholder="Địa chỉ email...") 
                        button
                            em.material-icons mail
                            p đăng ký
                .socical
                    p Theo dõi VINATOY
                    .icon
                        a(href="#")
                            .box
                                em.fab.fa-facebook-f
                        a(href="#")
                            .box
                                em.fab.fa-instagram
                        a(href="#")    
                            .box
                                em.fab.fa-youtube
    .footer-bottom
        .container
            .nav-footer
                .contact
                    .title
                        h3 Thông tin liên hệ
                    .name
                        h3 công ty tnhh sản xuất - thương mại</br> nhựa chợ lớn
                    .content
                        em.mdi.mdi-map-marker  8H An Dương Vương, phường 16, quận 8, TP.HCM
                        em.mdi.mdi-phone  (028) 3980 5394 - 3980 5851
                        em.mdi.mdi-email  info@nhuacholon.com.vn
                        em.mdi.mdi-web  www.nhuacholon.com.vn
                .box
                    .title
                        h3 Giới thiệu
                    .content
                        ul
                            li
                                a(href="#") Câu chuyện thương hiệu
                            li
                                a(href="#") Lịch sử hình thành
                            li
                                a(href="#") Tầm nhìn - sứ mệnh
                            li
                                a(href="#") Đối tác - khách hàng
                            li
                                a(href="#") E - Catalogue
                .box
                    .title
                        h3 Sản phẩm
                    .content
                        ul
                            li
                                a(href="#") Xe trẻ em
                            li
                                a(href="#") Đồ chơi trẻ em
                            li
                                a(href="#") Đồ chơi & đồ dúng trẻ em
                            li
                                a(href="#") Sản phẩm Flash sale
                .box
                    .title
                        h3 Truyền thông
                    .content
                        ul
                            li
                                a(href="#") Tin tức hoạt động
                            li
                                a(href="#") Thư viện ảnh
                            li
                                a(href="#") Video
                .box
                    .title
                        h3 Liên kết nhanh
                    .content
                        ul
                            li
                                a(href="#") Diễn đàn làm cha mẹ
                            li
                                a(href="#") Chương trình VINATOY
                            li
                                a(href="#") Khảo sát website
    .footer
        .container
            .box
                .box-left
                    img(src="./img/footer/icon-left.png", alt="")
                    p © 2019 VINATOY.
                .box-right
                    img(src="./img/footer/icon-right.png", alt="")
